@import './components/Timeline/Timeline.scss';
html {
  background-color: #E0E0E0;
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
}
