// @import './components/Resume/Resume.scss';
html {
  background-color: #424242;
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
}
