.verticalTimeline {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline {
        margin-top: 3em;
        margin-bottom: 3em
    }
}
.verticalTimeline .verticalTimeline-item {
    list-style: none;
    position: relative;
    margin: 2em 0
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item {
        margin: 4em 0
    }
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff, 0 2px 0 rgba(0, 0, 0, 0.08) inset, 0 3px 0 4px rgba(0, 0, 0, 0.05);
    background-color: #f4f4f4;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    line-height: 2.4em
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item .verticalTimeline-image {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        font-size: 1.4em;
        line-height: 3.2em
    }
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-image img {
    width: 100%;
    height: auto
}
.verticalTimeline .verticalTimeline-item .default {
    background-color: #f4f4f4
}
.verticalTimeline .verticalTimeline-item .green {
    background-color: #99ba01
}
.verticalTimeline .verticalTimeline-item .blue {
    background-color: #1426D6
}
.verticalTimeline .verticalTimeline-item .yellow {
    background-color: #ffd200
}
.verticalTimeline .verticalTimeline-item .red {
    background-color: #d47b88
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-content {
    display: block;
    position: relative;
    margin-left: 60px;
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: .25em;
    padding: 1em;
    /*box-shadow: 0 3px 0 #000000*/
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-content .title {
    margin-top: 0;
    opacity: .7;
    font-size: 2em;
    color:#000000;
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item .verticalTimeline-content .title {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 2em;
        padding: .4em 0;
        margin-top: 0
    }
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-content .media {
    margin-bottom: 15px
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-content img {
    width: 100%;
    height: auto
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item .verticalTimeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        color:#000000;
    }
}
.verticalTimeline .verticalTimeline-item .verticalTimeline-content:before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #f4f4f4 transparent transparent;
    border-image: none;
    color:#000000;
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item .verticalTimeline-content:before {
        top: 24px;
        left: 100%;
        border-color: transparent transparent transparent #f4f4f4
    }
}
.verticalTimeline .verticalTimeline-item:first-child {
    margin-top: 0
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item:first-child {
        margin-top: 0
    }
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item:nth-child(2n) .verticalTimeline-content .title {
        left: auto;
        right: 122%;
        text-align: right
    }
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item:nth-child(2n) .verticalTimeline-content {
        float: right
    }
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline .verticalTimeline-item:nth-child(2n) .verticalTimeline-content:before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent #f4f4f4 transparent transparent
    }
}
.verticalTimeline .verticalTimeline-item:before,
.verticalTimeline .verticalTimeline-item:after {
    content: '';
    display: table
}
.verticalTimeline .verticalTimeline-item:after {
    clear: both
}
.verticalTimeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #ffffff none repeat scroll 0 0
}
@media only screen and (min-width: 1170px) {
    .verticalTimeline:before {
        left: 50%;
        margin-left: -2px
    }
}
